body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
}
ul li {
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
